options -indexes
Options +FollowSymLinks
RewriteEngine on

RewriteBase /SLAM5/PPE

RewriteRule Connexion index.php [L]
RewriteRule Valide index.php?uc=connexion&action=valideConnexion [L]
RewriteRule Accueil index.php?uc=accueil [L]
RewriteRule Deconnexion index.php?uc=connexion&action=deconnexion [L]
RewriteRule Valider-Creation-Frais index.php?uc=gererFrais&action=validerCreationFrais [L]
RewriteRule Saisir-Frais index.php?uc=gererFrais&action=saisirFrais [L]
RewriteRule Consultation index.php?uc=etatFrais&action=selectionnerMois [L]
RewriteRule Mes-Fiches-Frais index.php?uc=etatFrais&action=voirEtatFrais [L]
RewriteRule Modification-Frais-Forfait index.php?uc=gererFrais&action=validerMajFraisForfait [L]
RewriteRule Modification-Frais-Hors-Forfait index.php?uc=gererFrais&action=validerCreationFrais [L]
RewriteRule Suppression-Frais-Hors-Forfait index.php?uc=gererFrais&action=supprimerFrais [L]
RewriteRule Choix-Visiteur index.php?uc=validationFrais&action=selectionVisiteur [L]
RewriteRule Choix-Mois index.php?uc=validationFrais&action=selectionMois [L]
RewriteRule Fiche-Comptable index.php?uc=validationFrais&action=affichage [L]
RewriteRule Modification-Frais-Comptable index.php?uc=validationFrais&action=modificationFrais [L]
RewriteRule Modification-Hors-Frais-Comptable index.php?uc=validationFrais&action=selectionVisiteur [L]
RewriteRule Historique index.php?uc=histoFrais&action=histoFrais [L]
RewriteRule Cloturer-Fiches index.php?uc=histoFrais&action=CRenCL [L]
RewriteRule Mise-A-Jour-Fiches index.php?uc=histoFrais&action=miseAJour [L]
RewriteRule Suppression-Comptable index.php?uc=validationFrais&action=suppression [L]

#http://localhost/SLAM5/PPE/Choix-Visiteur